<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask应用构建基本流程-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>
    <nav>
        <h1>Flaskr</h1>
        <ul>
            {% if g.user %}
              <li><span>{{g.user['username']}}</span></li>
              <li><a href="{{url_for('auth.logout')}}">Log out</a></li>
              {% else %}
              <li><a href="{{url_for('auth.register')}}">Register</a></li>
              <li><a href="{{url_for('auth.login')}}">Log in</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flask">{{message}}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>
